<div class="container">
  <div class="row">
    <div class="col-12 pa-30">
      <div class="comment_detail-box">
        <div class="student">
          <div class="thumnail-image dis-ib">
            <%= image_tag @comment.student.thumnail_image, size:"50x50", class:"circle" %>
          </div>
          <div class="name-box dis-ib pa-10">
            <%= link_to @comment.student.name, student_path(@comment.student) %>
          </div>
        </div>
        <div class="info right">
          <h6 class="gray"><%= @comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %></h6>
        </div>
      </div>
      <div class="detail pa-30">
        <p><%= @comment.detail %></p>
      </div>
      <div class="reply-link right">
        <%= link_to "返信する", new_comment_reply_comment_path(@comment), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <hr>
  <div class="low">
    <div class="col-12">
      <h5 class="title">返信一覧</h5>
      <div class="reply_comment_index-box pa-x-50">
        <%= render "reply_comments/index", reply_comments: @reply_comments %>
      </div>
    </div>
  </div>
</div>