<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="title">生徒詳細情報</h3>

      <% if @student == current_student %>
        <div class="student_edit-link right">
          <%= link_to "プロフィール編集", edit_student_path(@student), class:"btn btn-info" %>
        </div>
      <% end %>

      <div class="student_image-box center">
        <%= image_tag @student.info_image, id:"img-prev" %>
      </div>

      <div class="student_info-box">
        <div class="name center">
          <h3><%= @student.name %></h3>
        </div>
        <div class="grade pa-30">
          <h4>学年：<%= @student.grade_i18n %></h4>
        </div>
        <div class="introduction pa-30">
          <h4>自己紹介文</h4>
          <div class="content border" style="height:300px">
            <p><%= @student.introduction %></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
