<div class="container">
  <div class="row">
    <% if @student == current_student %>
      <h3 class="title">マイページ</h3>
    <% else %>
      <h3 class="title">『<%= @student.name %>』さんの詳細ページ</h3>
    <% end %>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="student_image-box center">
        <%= image_tag @student.info_image, id:"img-prev" %>
      </div>

      <div class="name center pa-t-30">
        <h3><%= @student.name %></h3>
      </div>

      <% if @student == current_student %>
        <div class="point-info center ma-y-10">
          <p class="gray">WatchPoint：　<%= @student.watch_point.point %>pt</p>
        </div>
      <% end %>

      <% if @student == current_student %>
        <div class="student_edit-link center pa-t-50">
          <%= link_to "プロフィール編集", edit_student_path(@student), class:"btn btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="col-7">
      <div class="student_info-box">
        <div class="grade">
          <h4>学年：<%= @student.grade_i18n %></h4>
        </div>
        <div class="educational_background pa-t-30">
          <% if @student.aspire.present? %>
            <h4>志望校：<%= @student.aspire.school_name %>　<%= @student_aspire.faculty %></h4>
          <% else %>
            <h4>志望校：登録されていません</h4>
          <% end %>
        </div>
        <div class="educational_background pa-t-30">
          <h4>学歴</h4>
          <% if @student == current_student %>
            <%= render "educational_backgrounds/mypage" %>
          <% else %>
            <%= render "educational_backgrounds/otherpage" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="introduction pa-30">
        <h4>自己紹介文</h4>
        <div class="detail pa-30" style="height:300px">
          <p><%= @student.introduction %></p>
        </div>
      </div>
    </div>
  </div>
</div>
