<%= form_for @video do |f| %>

  <div class="field center">
    <div class="video_content_box pa-20 ma-x-50">
      <div class="video_view-box">
        <div class="content-box">
          <div class="content">
            <%= video_tag @video.content.to_s, width: "100%", height: "100%" %>
          </div>
        </div>
      </div>
    </div>
    <div class="field pa-y-30">
      <%= f.label :content, "※動画を保存してください" %><br>
      <%= f.file_field :content, accept: 'video/*' %>
    </div>
  </div>

  <div class="field pa-y-30">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, autofocus: true, autocomplete: "title", class:"form-control", placeholder: "【青チャート】p.5 大問1　微分について" %>
  </div>

  <div class="field pa-y-30">
    <%= f.label :academic_stage, "対象レベル" %><br>
    <% Request.academic_stages_i18n.invert.each do |academic_stage| %>
      <div class="radio_btn dis-ib pa-10">
        <%= f.radio_button :academic_stage, academic_stage[1] %>
        <%= f.label :academic_stage, academic_stage[0], value: academic_stage[1] %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :category, "分野" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :subject_content, {prompt: "分野を選択してください"}, {class: "form-control"} %>
  </div>

  <div class="field pa-y-30">
    <%= f.label :detail, "質問詳細" %>
    <%= f.text_area :detail, autofocus: true, autocomplete: "detail", class:"form-control", style:"height:300px" %>
  </div>

  <div class="actions right">
    <%= f.submit btn, class:"btn btn-primary" %>
  </div>

<% end %>