<!DOCTYPE html>
<html>
  <head>
    <title>AnswerTrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/64b8b4bea1.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "shared/flash_message" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
